PORT=3000

# ===== SQL Server (Docker) =====
DB_HOST=localhost
DB_PORT=1433
DB_USERNAME=sa
DB_PASSWORD=TuPasswordFuerte123
DB_NAME=people_db
DB_SYNCHRONIZE=true
DB_ENCRYPT=false
DB_TRUST_SERVER_CERTIFICATE=true

# ===== SQL Server Express (Windows) =====
# Cambia el host y la autenticacion en .env:
# DB_HOST=localhost\\SQLEXPRESS
# DB_USERNAME=sa
# DB_PASSWORD=tu_password
# O usa autenticacion de Windows:
# DB_USERNAME=
# DB_PASSWORD=
# DB_INTEGRATED_SECURITY=true